@import "../../../../styles/variables";

.wrapper {
   border-bottom: 1px solid $brand-secondary-lighten;
}
.info {
   padding: 40px 0;
}
.btn-secondary {
   margin-top: 30px;
   margin-right: 30px;
}
.last-right {
   margin-right: 0;
}
.share-icon {
   text-align: center;
   height: 290px;
   position: relative;
}
.fa-share {
   position: absolute;
   left: 50%;
   margin-left: -80px;
   display: block;
   color: $brand-primary;
   font-size: 160px;
   text-shadow: $brand-secondary-lighten 0 4px 8px;
   transition: top 0.5s;
}
.isClicked {
   color: white;
   text-shadow: black 0 2px;
   background: linear-gradient(10deg, $brand-primary-darken, $brand-secondary-darken);
   box-shadow: $brand-secondary 0 1px 6px 1px;
}
