@import "../../../styles/variables";
@import "../../../styles/bootstrap/mixins";

.wrapper {
   padding-top: 100px;
}
h2 {
   padding-bottom: 15px;
   margin-bottom: 30px;
   border-bottom: 2px solid $brand-primary-darken;
}
.instructions {
   padding: 15px;
   background: linear-gradient(15deg, $brand-primary-lighten, $brand-secondary-lighten);
   border-radius: $border-radius;
   margin-bottom: 20px;

   p {
      margin: 0;
   }
}
.answer {
   position: relative;

   p {
      border-radius: $border-radius;
      border: 1px solid $gray-lighter;
      padding: 15px;

      &.correct {
         border: 1px solid $brand-success;
         padding-left: 45px;
      }
   }
   &.yesOrNo {
      p {
         &.correct {
            padding-left: 15px;
         }
      }
   }
}
.fa-check {
   position: absolute;
   left: 30px;
   top: 19px;
   font-size: 20px;
   color: $brand-success;
}
.percent {
   border-radius: $border-radius;
   background: linear-gradient(15deg, $brand-primary-darken, $brand-secondary-darken);
   padding: 15px 0;
   color: white;
   font-weight: 700;
   text-align: center;
}
