$fa-font-path: "public/fonts" !default;

.btn-primary {
   background: linear-gradient(15deg, $brand-primary-darken, $brand-secondary-darken);
   font-family: 'Roboto', sans-serif;
   font-weight: 900;
   box-shadow: $brand-secondary-lighten 0 1px 6px 1px;
   border: none;
   text-shadow: black 0 2px;
   color: white;

   &:hover {
      background: linear-gradient(10deg, $brand-primary-darken, $brand-secondary-darken);
      box-shadow: $brand-secondary 0 1px 6px 1px;
   }
   &:not([href]):not([tabindex]) {
      color: white;
      &:hover, &:focus {
         color: white;
      }
   }
}
h1,h2,h3,h4,h5,h6 {
   text-shadow: $brand-primary-lighten 0 1px 2px;
}
.btn-secondary {
   background: linear-gradient(15deg, $brand-primary-lighten, $brand-secondary-lighten);
   font-family: 'Roboto', sans-serif;
   font-weight: 900;
   box-shadow: $brand-secondary-lighten 0 1px 6px 1px;
   border: none;
   text-shadow: $brand-secondary-lighten 0 -1px;
   color: black;

   &:hover, &.hovered, &.hovered:not([href]):not([tabindex])  {
      color: white;
      text-shadow: black 0 2px;
      background: linear-gradient(10deg, $brand-primary-darken, $brand-secondary-darken);
      box-shadow: $brand-secondary 0 1px 6px 1px;
   }
   &:not([href]):not([tabindex]) {
      color: black;
      &:hover, &:focus {
         color: white;
      }
   }
}
.container {
   padding: 0 30px;
}

// Loader
.spinner {
   margin: 200px auto 0;
   text-align: center;
}

// todo : delete
// center fluid images
.center-fluid {
   max-width: 100%;
   height: auto;
   margin-bottom: 15px;
}

.spinner > div {
   width: 18px;
   height: 18px;
   background-color: $brand-primary;

   border-radius: 100%;
   display: inline-block;
   -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
   animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
   -webkit-animation-delay: -0.32s;
   animation-delay: -0.32s;
}

.spinner .bounce2 {
   -webkit-animation-delay: -0.16s;
   animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
   0%, 80%, 100% { -webkit-transform: scale(0) }
   40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
   0%, 80%, 100% {
      -webkit-transform: scale(0);
      transform: scale(0);
   } 40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
     }
}
