$fa-font-path: "public/fonts" !default;

.btn-primary {
   background: linear-gradient(15deg, $brand-primary-darken, $brand-secondary-darken);
   font-family: 'Roboto', sans-serif;
   font-weight: 900;
   box-shadow: $brand-secondary-lighten 0 1px 6px 1px;
   border: none;
   text-shadow: black 0 2px;
   color: white;

   &:hover {
      background: linear-gradient(10deg, $brand-primary-darken, $brand-secondary-darken);
      box-shadow: $brand-secondary 0 1px 6px 1px;
   }
   &:not([href]):not([tabindex]) {
      color: white;
      &:hover, &:focus {
         color: white;
      }
   }
}
h1,h2,h3,h4,h5,h6 {
   text-shadow: $brand-primary-lighten 0 1px 2px;
}
.btn-secondary {
   background: linear-gradient(15deg, $brand-primary-lighten, $brand-secondary-lighten);
   font-family: 'Roboto', sans-serif;
   font-weight: 900;
   box-shadow: $brand-secondary-lighten 0 1px 6px 1px;
   border: none;
   text-shadow: $brand-secondary-lighten 0 -1px;
   color: black;

   &:hover, &.hovered, &.hovered:not([href]):not([tabindex])  {
      color: white;
      text-shadow: black 0 2px;
      background: linear-gradient(10deg, $brand-primary-darken, $brand-secondary-darken);
      box-shadow: $brand-secondary 0 1px 6px 1px;
   }
   &:not([href]):not([tabindex]) {
      color: black;
      &:hover, &:focus {
         color: white;
      }
   }
}
.container {
   padding: 0 30px;
}
