@import "../../../../styles/variables";

.wrapper {
   background: linear-gradient(15deg, $brand-primary-lighten, $brand-secondary-lighten);
   overflow: hidden;
   height: (12*(30+10px));
   position: relative;
}
.container {
   padding: 130px 0;
   text-align: center;
   position: relative;
}
a {
   margin: 40px 0;
   width: 300px;
}
h1 {
   text-shadow: $brand-primary 0 1px 2px;
   font-weight: 900;
}
.left-bars {
   .bar {
      left: -$border-radius;
      background-color: $brand-secondary-lighten;
      box-shadow: $brand-primary 0 1px 0px 0;
   }
}
.right-bars {
   .bar {
      right: -$border-radius;
      background-color: $brand-primary-lighten;
      box-shadow: $brand-secondary 0 1px 0px 0;
   }
}
.bar {
   width: 30%;
   height: 30px;
   position: absolute;
   border-radius: $border-radius;
   transition: width 1s;
}
.bar-1 {
   top: 10px;
}
.bar-2 {
   top: 50px;
}
.bar-3 {
   top: 90px;
}
.bar-4 {
   top: 130px;
}
.bar-5 {
   top: 170px;
}
.bar-6 {
   top: 210px;
}
.bar-7 {
   top: 250px;
}
.bar-8 {
   top: 290px;
}
.bar-9 {
   top: 330px;
}
.bar-10 {
   top: 370px;
}
.bar-11 {
   top: 410px;
}
.bar-12 {
   top: 450px;
}
