<!DOCTYPE html>
<html>
<head>
   <title>Dynamic Polls</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <link rel="stylesheet" href="public/styles/styles.css">

   <script src="public/angular/dependencies/zone.js"></script>
   <script src="public/angular/dependencies/Reflect.js"></script>
   <script src="public/angular/dependencies/system.src.js"></script>
   <script src="public/angular/systemjs.config.js"></script>
   <script>
      System.import('app').catch(function(err){ console.error(err); });
   </script>
</head>
<body>
<app>Loading...</app>
<script src="//localhost:35729/livereload.js"></script>
</body>
</html>
